<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>com.internetbusinesscompany.slotoluckUni.5000coins</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluck.5000coins</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.16500coins</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluck.16500coins</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.46000coins</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluck.46000coins</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.120000coins</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluck.120000coins</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.325000coins</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluck.325000coins</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.1200000coins</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluck.1200000coins</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.125SpinToken</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluckUni.125SpinToken</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.50SpinToken</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluckUni.50SpinToken</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.30SpinToken</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluckUni.30SpinToken</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.15SpinToken</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluckUni.15SpinToken</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.6SpinToken</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluckUni.6SpinToken</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.1SpinToken</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluckUni.1SpinToken</string>
		</dict>
		<key>com.internetbusinesscompany.slotoluckUni.summberSpecialOffer</key>
		<dict>
			<key>Count</key>
			<integer>500</integer>
			<key>Name</key>
			<string>com.internetbusinesscompany.slotoluckUni.summberSpecialOffer</string>
		</dict>
	</dict>
	<key>Non-Consumables</key>
	<array>
		<string>com.internetbusinesscompany.slotoluckUni.goldstatus</string>
		<string>com.internetbusinesscompany.slotoluckUni.platinumstatus</string>
		<string>com.internetbusinesscompany.slotoluckUni.diamondstatus</string>
		<string>com.internetbusinesscompany.slotoluckUni.whalestatus</string>
		<string>com.internetbusinesscompany.slotoluckUni.unlockWCP</string>
		<string>com.internetbusinesscompany.slotoluckUni.unlockPM</string>
		<string>com.internetbusinesscompany.slotoluckUni.unlockRW</string>
		<string>com.internetbusinesscompany.slotoluckUni.unlockWO</string>
		<string>com.internetbusinesscompany.slotoluckUni.unlockVS</string>
		<string>com.internetbusinesscompany.slotoluckUni.unlockOneTimeWCP</string>
		<string>com.internetbusinesscompany.slotoluckUni.unlockOneTimeTopCoins</string>
	</array>
	<key>Subscriptions</key>
	<dict/>
</dict>
</plist>
