<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>com.YourBundleId.levelskipsx3</key>
		<dict>
			<key>Count</key>
			<integer>3</integer>
			<key>Name</key>
			<string>com.YourBundleId.levelskipsx3</string>
		</dict>
	</dict>
	<key>Non-Consumables</key>
	<array>
		<string>com.intencemedia.zumawarfare.removeads</string>
		<string>com.intencemedia.zumawarfare.threepack</string>
		<string>com.intencemedia.zumawarfare.twocharactor</string>
		<string>com.intencemedia.zumawarfare.all</string>
	</array>
	<key>Subscriptions</key>
	<dict/>
</dict>
</plist>
